<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Escape Game SVT{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('main') }}">🏠 Accueil</a>
        {% if session.get("username") %}
            <a href="{{ url_for('profil') }}">👤 Profil</a>
            <a href="{{ url_for('logout') }}">🚪 Déconnexion</a>
        {% else %}
            <a href="{{ url_for('login') }}">🔑 Connexion</a>
            <a href="{{ url_for('regist') }}">📝 Inscription</a>
            <a href="{{ url_for('presentation') }}">Presentation du projet</a>
        {% endif %}
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
